<div id="parent">
  <div id="left">
    
    <ul class="mdl-list mdl-shadow--4dp">
      <h4>Front Range</h4>
      <li class="mdl-list__item" *ngFor="let mount of mountains" 
          (click)="onSelect(mount)"
          [class.selected]="mount === selectedMountain">
        <span class="mdl-list__item-primary-content"><span class="rank"> {{mount.rank}} </span> <span class="name"> {{mount.name}} </span></span>
      </li>
    </ul> 
  </div>
  <div id="right">
    <app-mountain-detail [mountain]="selectedMountain"></app-mountain-detail>  
  </div>

</div>









