

<div class="mdl-card mdl-shadow--4dp" style="margin:10px auto">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{{ mountain.name | uppercase }}</h2>
  </div>
  <div class="mdl-card__media">
    <img src={{mountain.img}} width="100%" height="140" border="0" alt="Mt. Elbert">
  </div>
  <div class="mdl-card__supporting-text">
    <div>rank: {{mountain.rank}}</div>
    <div>name: {{mountain.name}} </div>
    <div>elevation: {{mountain.elevation | number}}</div>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="show=!show">Edit</a>
    <div [hidden]="!show" class="mdl-card__supporting-text">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input [(ngModel)]="mountain.name" class="mdl-textfield__input" type="text" id="mountainname">
        <label class="mdl-textfield__label" for="mountainname">Name...</label>
      </div>
    </div>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div>





